@inherits UmbracoViewPage<Spinit.Stack.CMS.Features.Content.ContentPageModel>
@{
	Layout = "Shared/_Layout.cshtml";
}
<div ng-controller="content.controller">
    <h1>@Model.Test</h1>
    <p>{{test}}</p>
</div>