@using Spinit.Stack.CMS.Features.Language
@inherits UmbracoViewPage<Spinit.Stack.CMS.Features.Home.HomeModel>
@{
	Layout = "Shared/_Layout.cshtml";
}

<h1>@Translate.Value(Model.PageTitle)</h1>

<p>@Translate.Value(Model.BodyText)</p>

<div id="HomePage"></div>