<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.MetaTitle</title>

	<!-- inject:css -->
	<link rel="stylesheet" href="/assets/styles/css/app.css">
	<!-- endinject -->
</head>
<body ng-app="Spinit.Stack.CMS">
   @Html.Partial("_Navbar")

<div class="container body-content">
        @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Spinit.Stack.CMS</p>
    </footer>
</div>

    <!-- Dev-dependencies have to be inserted manually-->
    <script src="/node_modules/angular/angular.js"></script>

    <!-- inject:js -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="/Features/angular.module.js"></script>
    <script src="/Features/Home/home.controller.js"></script>
    <!-- endinject -->

</body>
</html>