span.twitter-typeahead {
    display: flex;
    width: 100%;

    .tt-menu {
        background: white;
    }

    .tt-suggestion {
        @extend .dropdown-menu;
        display: block;
    }

    .tt-suggestion.tt-cursor {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
    }


    .input-group & {
        //display: block !important;
        .tt-menu {
            //top:(2 * $input-padding-y + $font-size-base * $line-height-base + 2 * $input-btn-border-width/$font-size-root) !important;
            top: () !important;
        }
    }

    .form-control {
        // padding: $input-padding-y-lg $input-padding-x-lg;
        // font-size: $font-size-lg;
        // @include border-radius($input-border-radius-lg);
        width: 100%;
    }
}
